body{
    background-color: beige;
}

#game{
    position: relative;
}

#field{
    position: absolute;
    width: 500px;
    height: 500px;
    margin: 20px  100px 100px 100px;
    background-color: bisque;
}